Babel==2.5.1
cffi==1.15.0
chardet==3.0.4
click==8.0.1
cloud-init==23.1.1
configobj==5.0.6
cryptography==37.0.2
dataclasses==0.8
dbus-python==1.2.4
decorator==4.2.1
file-magic==0.3.0
Flask==2.0.1
gpg==1.13.1
idna==2.5
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.1
jsonpatch==1.21
jsonpointer==1.10
jsonschema==2.6.0
libcomps==0.1.18
MarkupSafe==2.0.1
netifaces==0.10.6
oauthlib==2.1.0
peewee==3.14.10
perf==0.1
pexpect==4.3.1
ply==3.9
prettytable==0.7.2
ptyprocess==0.5.2
pycairo==1.16.3
pycparser==2.21
pydbus==0.6.0
PyGObject==3.28.3
PyJWT==1.6.1
PyMySQL==1.0.2
pyserial==3.1.1
PySocks==1.6.8
python-dateutil==2.6.1
python-dotenv==0.17.1
python-linux-procfs==0.7.0
pytz==2017.2
pyudev==0.21.0
PyYAML==3.12
requests==2.20.0
rpm==4.14.3
schedutils==0.6
selinux==2.9
sepolicy==1.1
setools==4.3.0
setroubleshoot==1.1
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.5.4
syspurpose==1.28.38
systemd-python==234
typing_extensions==4.1.1
urllib3==1.24.2
Werkzeug==2.0.1
zipp==3.6.0
